body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.main-content {
  margin-left: 70px;
  width: calc(100% - 70px);
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  color: #1e2639;
  font-size: 28px;
  font-weight: 600;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  padding: 25px;
  margin-bottom: 30px;
  width: 80%;
  margin: 0 auto;
}

.card-title {
  color: #1e2639;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #1e2639;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

input:focus,
select:focus {
  outline: none;
  border-color: #3498db;
}

select {
  background-color: white;
  cursor: pointer;
}

.button-group {
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
  margin-top: 30px;
}
.button-group div{
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.btn-primary {
  background-color: #3498db;
  color: white;
}

.btn-secondary {
  background-color: #1e2639;
  color: white;
}

.btn i {
  margin-right: 8px;
}
.btn-third{
  background-color: #e74c3c;
  color: white;
}

.password-container {
    position: relative;
    width: 100%;
}

.password-container input {
    padding-right: 40px; /* Make space for the icon */
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
    transition: color 0.3s ease;
}

.toggle-password:hover {
    color: #333;
}
